<div class="main-container">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-8 clr-align-self-center">
      <div class="clr-col-7 clr-align-self-center">
        <div class="clr-row">
          <div class="clr-col">
            <div *ngIf="tipo == 1">
              <h3>Projetos</h3>
            </div>
            <div *ngIf="tipo == 2">
              <h3>Grupos</h3>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tipo == 1">
        <table class="table">
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Descrição</th>
              <th>Missões</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let projeto of projetos">
              <tr>
                <td>{{projeto.name}}</td>
                <td>{{projeto.description}}</td>
                <td><button class="btn btn-primary" [routerLink]="['/missoes-solo', projeto.id]">Ir!</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div *ngIf="tipo == 2">
        <table class="table">
          <thead>
            <tr>
              <th>Grupo</th>
              <th>XP Ganha com o Grupo</th>
              <th>Missões</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let grupo of grupos">
              <ng-container *ngIf="!grupo.status">
                <tr>
                  <td>{{grupo.name}}</td>
                  <td>{{grupo.xp_grupo}}</td>
                  <td><button class="btn btn-primary" [routerLink]="['/missoes-grupo', grupo.id]">Ir!</button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>