<div class="main-container">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-8 clr-align-self-center">

      <clr-stack-view>
        <clr-stack-header>
          <span class="stack-title">
            Projetos do Gitlab
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">Clique no projeto para ver as missões!</span>
            </a>
          </span>
        </clr-stack-header>

        <clr-stack-block>
          <a [routerLink]="['/missoes-solo', 1]">
            <clr-stack-label>Projeto 1</clr-stack-label>
          </a>
        </clr-stack-block>

        <clr-stack-block>
          <a [routerLink]="['/missoes-solo', 1]">
            <clr-stack-label>Projeto 2</clr-stack-label>
          </a>
        </clr-stack-block>

        <clr-stack-block>
          <a [routerLink]="['/missoes-solo', 1]">
            <clr-stack-label>Projeto 3</clr-stack-label>
          </a>
        </clr-stack-block>

        <clr-stack-block>
          <a [routerLink]="['/missoes-solo', 1]">
            <clr-stack-label>Projeto 4</clr-stack-label>
          </a>
        </clr-stack-block>
      </clr-stack-view>
    </div>
  </div>
</div>