<div class="main-container">
  <div class="clr-row clr-justify-content-center imageposs">
    <div class="clr-col-4 clr-align-self-center">
      <div class="card">
        <a [routerLink]="['/projetos', 1]">
          <div class="card-img">
            <img
              src="https://4.bp.blogspot.com/-mJX0HieccY0/V5zinTaulZI/AAAAAAAAH08/LXT_K2Lo1UIAKtdmNk1gmTuZ7JdXeo4fQCLcB/s1600/capitaogag.png"
              style="width: 70%">
          </div>
          <div class="card-block">
            <h4 class="card-title">Missões</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="clr-col-4 clr-align-self-center">
      <div class="card">
        <a [routerLink]="['/projetos', 2]">
          <div class="card-img">
            <img src="http://pluspng.com/img-png/avengers-hd-png-avengers-png-hd-png-image-.png" style="width: 92.5%">
          </div>
          <div class="card-block">
            <h4 class="card-title">Missões em Grupo</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>