<div class="main-container">
  <div class="clr-row">
    <div class="clr-col-4">
    </div>
    <div class="clr-col-6">
      <form clrForm #cadastro="ngForm" (submit)="cadastrar()">
        <clr-input-container>
          <label>Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Nome" clrInput [(ngModel)]="nome" required />
          <clr-control-error>Nome é obrigatório!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Sobrenome</label>
          <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" clrInput [(ngModel)]="sobrenome" required />
          <clr-control-error>Sobrenome é obrigatório!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Email</label>
          <input type="text" id="email" name="email" placeholder="Email" clrInput [(ngModel)]="email" required />
          <clr-control-error>Email é obrigatório!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>User</label>
          <input type="text" id="username" name="username" placeholder="User" clrInput [(ngModel)]="username" required />
          <clr-control-helper>Mesmo usuario do Gitlab.</clr-control-helper>
          <clr-control-error>User é obrigatório!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Senha" clrInput [(ngModel)]="senha" required />
          <clr-control-error>Senha é obrigatório!</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Private Token</label>
          <input type="text" id="privatetoken" name="privatetoken" placeholder="Private Token" clrInput [(ngModel)]="privatetoken" required />
          <clr-control-helper>Private token obtido no gitlab</clr-control-helper>
          <clr-control-error>Private token é obrigatório!</clr-control-error>
        </clr-input-container>

        <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid"><b>Cadastrar!</b></button>

      </form>
    </div>
    <div class="clr-col-4">
    </div>
  </div>
</div>