<div class="main-container">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-6 clr-align-self-center">
      <h4>
        Missões do Projeto: <strong>{{projeto}}</strong>
        <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
          <clr-icon shape="info-circle" size="24"></clr-icon>
          <span class="tooltip-content">Sobre as labels</span>
        </a>
      </h4>
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1">Concluidas</button>
          <clr-tab-content id="content1" *clrIfActive="true">

            <div *ngFor="let m of missoes">
              <div *ngIf="m.status == true && m.jogador == jogador_id && projeto_id == m.id_projeto && m.id_milestone">

                <div class="card">
                  <div class="card-block">
                    <div class="card-title">
                      Missão: {{m.nome_missao}}
                    </div>
                    <div class="card-text">
                      XP adquirida com a missão: {{m.xp_ganha}}
                    </div>
                  </div>
                  <div class="card-footer">

                    <ng-container *ngIf="m.nice_data">
                      <span class="label label-info">Terminada na data certa!</span>
                    </ng-container>

                    <ng-container *ngIf="m.nice_tempo">
                      <span class="label label-success">Terminada em tempo record!</span>
                    </ng-container>

                    <ng-container *ngIf="!m.nice_data">
                      <span class="label label-warning">Não terminada na data certa!</span>
                    </ng-container>

                    <ng-container *ngIf="!m.nice_tempo">
                      <span class="label label-danger">Não terminada no tempo certo!</span>
                    </ng-container>

                  </div>

                </div>
              </div>
            </div>

          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Em Andamento</button>
          <clr-tab-content *clrIfActive>
            <div *ngFor="let m of missoes">
              <div *ngIf="m.status == false && m.jogador == jogador_id && projeto_id == m.id_projeto && m.id_milestone">

                <div class="card">
                  <div class="card-block">
                    <div class="card-title">
                      Missão: {{m.nome_missao}}
                    </div>
                    <div class="card-text">
                      XP que pode ser adquirida com a missão: {{m.xp_ganha}}
                    </div>
                  </div>
                  <div class="card-footer">
                    <span class="label label-warning">Não terminada na data certa: -20 xp!</span>
                    <span class="label label-danger">Não terminada no tempo certo: -50xp!</span>
                  </div>

                </div>
              </div>
            </div>

          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>