<div class="login-wrapper">
  <form class="login">
      <section class="title">
          <h3 class="welcome"> DevMaster</h3>
        Login
      </section>
      <div class="login-group">
          <clr-input-container>
              <input type="text" name="username" clrInput placeholder="Username"/>
          </clr-input-container>
          <clr-password-container>
              <input type="password" name="password" clrPassword placeholder="Password"/>
          </clr-password-container>

          <div class="error active">
              Invalid user name or password
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          <a routerLink="/cadastro" class="signup">Ainda não é cadastrado?</a>
      </div>
  </form>
</div>