<div class="main-container">

  <clr-modal [(clrModalOpen)]="premios" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="false">
    <div class="modal-body">
      <div class="clr-row clr-justify-content-center">

        <div class="clr-col-12 clr-align-self-center">

          <div class="clr-row clr-justify-content-center">
            <div class="clr-col-sm-12 clr-col-md-6">
              <div class="card">
                <div class="card-header">
                  Premiação por Colocação
                </div>
                <div class="card-block">
                  <div class="card-text">
                    <ol class="list">
                      <li>{{evento?.primeiro?.name}}</li>
                      <li>{{evento?.segundo?.name}}</li>
                      <li>{{evento?.terceiro?.name}}</li>
                      <li>{{evento?.quarto?.name}}</li>
                      <li>{{evento?.quinto?.name}}</li>
                      <li>{{evento?.sexto?.name}}</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="premios = false">Ok</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="premiados" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="false">
    <div class="modal-body">
      <div class="clr-row clr-justify-content-center">

        <div class="clr-col-12 clr-align-self-center">

          <div class="clr-row clr-justify-content-center">
            <div class="clr-col-sm-12 clr-col-md-6">
              <div class="card">
                <div class="card-header">
                  Premiação por Colocação
                </div>
                <div class="card-block">
                  <div class="card-text">
                    <ol class="list">
                      <div *ngIf="premiacao">
                        <div *ngFor="let premio of premiacao; let i = index">
                          <li>
                            {{premio?.jogador?.user?.first_name}} {{premio?.jogador?.user?.last_name}}
                            <ul class="list" style="list-style-type: none;">
                              <div *ngIf="i == 0">
                                <li>{{premio?.evento?.primeiro?.name}}</li>
                              </div>

                              <div *ngIf="i == 1">
                                <li>{{premio?.evento?.segundo?.name}}</li>
                              </div>

                              <div *ngIf="i == 2">
                                <li>{{premio?.evento?.terceiro?.name}}</li>
                              </div>

                              <div *ngIf="i == 3">
                                <li>{{premio?.evento?.quarto?.name}}</li>
                              </div>

                              <div *ngIf="i == 4">
                                <li>{{premio?.evento?.quinto?.name}}</li>
                              </div>

                              <div *ngIf="i == 5">
                                <li>{{premio?.evento?.sexto?.name}}</li>
                              </div>
                            </ul>
                          </li>
                        </div>
                      </div>
                    </ol>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="premiados = false">Ok</button>
    </div>
  </clr-modal>

  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-7 clr-align-self-center">
      <div class="clr-row">
        <div class="clr-col">
          <h3>Eventos</h3>
        </div>


        <div class="clr-col-1.5">
          <button type="button" class="btn btn-primary">Pegar premiação!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-7 clr-align-self-center">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1">Ativos</button>
          <clr-tab-content id="content1" *clrIfActive=true>

            <table class="table">
              <thead>
                <tr>
                  <th>Evento</th>
                  <th>XP</th>
                  <th>Data de Inicio</th>
                  <th>Premiação</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let evento of eventos">
                  <ng-container *ngIf="!evento.is_active">
                    <tr>
                      <td>{{evento.name}}</td>
                      <td>{{evento.multiplicador_xp}}</td>
                      <td>{{evento.data_inicio}}</td>
                      <td><button class="btn btn-info" (click)="premios = true; getEvento(evento.id)">Premios</button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>

          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Encerrados</button>
          <clr-tab-content *clrIfActive>

            <table class="table">
              <thead>
                <tr>
                  <th>Evento</th>
                  <th>XP</th>
                  <th>Data de Inicio</th>
                  <th>Data de Final</th>
                  <th>Premiados</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let evento of eventos">
                  <ng-container *ngIf="!evento.is_active">
                    <tr>
                      <td>{{evento.name}}</td>
                      <td>{{evento.multiplicador_xp}}</td>
                      <td>{{evento.data_inicio}}</td>
                      <td>{{evento.data_final}}</td>
                      <td><button class="btn btn-info"
                          (click)="premiados = true; getPremiacao(evento.id)">Premios</button></td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>

          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>