<div class="main-container">
  <div class="clr-row clr-justify-content-center">

    <div class="clr-col-5 clr-align-self-center">
      <div class="card tamanho">
        <div class="card-header">
          Perfil
        </div>
        <div class="card-block">
          <div class="clr-row">
            <div class="clr-col-6">
              <div class="card-media-block">
                <img src="{{jogador.url_imagem}}" class="card-media-image" style="width: 180%; height: 125px;">
              </div>
            </div>

            <div class="clr-col-6">
              <div class="card-media-description clr-align-self-center" style="position: relative; right: 50px">

                <div class="clr-row">
                  <span class="card-media-title">
                    Nome: {{jogador.user.first_name}} {{jogador.user.last_name}}
                  </span>
                </div>

                <div class="clr-row">
                  <span class="card-media-title">
                    Nivel: {{getNivel(jogador.xp_total) + 1}}
                  </span>
                </div>

                <div class="clr-row">
                  <span class="card-media-text">
                    Desafios vencidos: {{jogador.desafios_v}}
                  </span>
                </div>

                <div class="clr-row">
                  <span class="card-media-text">
                    Missões Realizadas: {{jogador.m_realizadas}}
                  </span>
                </div>

                <div class="clr-row">
                  <span class="card-media-text">
                    Eventos Ganho: {{jogador.eventos_v}}
                  </span>
                </div>

                <div class="clr-row">
                  <span class="card-media-text">
                    XP Total: {{jogador.xp_total}}
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="card-text barra">
          <div class="progress labeled">
            <progress max="100" value="{{progress}}" data-displayval="100%"></progress>
            <span>
              {{progress}}%
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clr-col-5 clr-align-self-center">
      <div class="card">
        <div class="card-header">
          Mochila
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">Para usar um item é necessario falar com o moderador!</span>
          </a>
        </div>
        <div class="card-block overflow">
          <div *ngFor="let item of jogador_itens.List" style="padding: 20px;">
            <div class="card-media-block">
              <img src="{{item.item.url_image}}" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">
                  Item: {{item.item.name}}
                </span>
                <span class="card-media-text">
                  Quantidade: {{item.quantidade}}
                </span>
                <span class="card-media-text">
                  Quantidade Bloqueada: {{item.quantidade_bloqueada}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-5 clr-align-self-center">

      <div class="card">
        <div class="card-header">
          Ranking XP
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">Ranking por experiência.</span>
          </a>
        </div>
        <div class="card-block">
          <ol class="list">
            <div *ngFor="let xp of users_xp">
              <ng-container *ngIf="xp.tipo == 'J'">
                <li>
                  {{xp.user.first_name}} {{xp.user.last_name}} - {{xp.xp_total}}
                </li>
              </ng-container>
            </div>
          </ol>
        </div>
      </div>

    </div>
    <div class="clr-col-5 clr-align-self-center">
      <div class="card">
        <div class="card-header">
          Ranking Missões
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">Esse ranking mostra os usuarios que concluiram mais missões.</span>
          </a>
        </div>
        <div class="card-block">
          <ol class="list">
            <div *ngFor="let xp of users_m">
              <ng-container *ngIf="xp.tipo == 'J'">
                <li>
                  {{xp.user.first_name}} {{xp.user.last_name}} - {{xp.m_realizadas}}
                </li>
              </ng-container>
            </div>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-5 clr-align-self-center">

      <div class="card">
        <div class="card-header">
          Ranking Desafio
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">Esse rankingm mostra os usuario que ganharam mais desafios.</span>
          </a>
        </div>
        <div class="card-block">
          <ol class="list">
            <div *ngFor="let xp of users_d">
              <ng-container *ngIf="xp.tipo == 'J'">
                <li>
                  {{xp.user.first_name}} {{xp.user.last_name}} - {{xp.desafios_v}}
                </li>
              </ng-container>
            </div>
          </ol>
        </div>
      </div>

    </div>
    <div class="clr-col-5 clr-align-self-center">
      <div class="card">
        <div class="card-header">
          Ranking Evento
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">Esse rankingm mostra os usuario que ganharam mais eventos.</span>
          </a>
        </div>
        <div class="card-block">
          <ol class="list">
            <div *ngFor="let xp of users_e">
              <ng-container *ngIf="xp.tipo == 'J'">
                <li>
                  {{xp.user.first_name}} {{xp.user.last_name}} - {{xp.eventos_v}}
                </li>
              </ng-container>
            </div>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>