<div class="main-container">
  <div class="clr-row">

    <div class="clr-col-2"></div>

    <div class="clr-col-8">

      <div class="card">

        <div class="card clr-col-5">
          <div class="card-header">
            Perfil
          </div>
          <div class="card-block">
            <div class="card-media-block">
              <img src="..." class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">
                  Nome:
                </span>
                <span class="card-media-text">
                  Desafios vencidos:
                </span>
                <span class="card-media-text">
                  Missões Realizadas:
                </span>
                <span class="card-media-text">
                  Eventos Ganho:
                </span>
                <span class="card-media-text">
                  XP Total:
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card clr-col-6">
          <div class="clr-justify-content-end">

            <div class="card-header">
              Mochila
            </div>
            <div class="card-block">
              <div class="card-media-block">
                <img src="..." class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title">
                    Item:
                  </span>
                  <span class="card-media-text">
                    Quantidade:
                  </span>
                </div>
              </div>
              <div class="card-media-block">
                <img src="..." class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title">
                    Item:
                  </span>
                  <span class="card-media-text">
                    Quantidade:
                  </span>
                </div>
              </div>
              <div class="card-media-block">
                <img src="..." class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title">
                    Item:
                  </span>
                  <span class="card-media-text">
                    Quantidade:
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="clr-col-4"></div>
  </div>


  <div class="clr-row">

    <div class="clr-col-2"></div>

    <div class="clr-col-8">

      <div class="card">

        <div class="card clr-col-5">
          <div class="card-header">
            Ranking 1
          </div>
          <div class="card-block">
            <ol class="list">
              <li>Ullamco Laboris</li>
              <li>Nisi Ut Aliquip</li>
              <li>Consequat</li>
              <li>Excepteur sint occaecat cupidatat non proident</li>
              <li>Enim ad Minim</li>
            </ol>
          </div>
        </div>

        <div class="card clr-col-5">
          <div class="card-header">
            Ranking 2
          </div>
          <div class="card-block">
            <ol class="list">
              <li>Ullamco Laboris</li>
              <li>Nisi Ut Aliquip</li>
              <li>Consequat</li>
              <li>Excepteur sint occaecat cupidatat non proident</li>
              <li>Enim ad Minim</li>
            </ol>
          </div>
        </div>

      </div>

    </div>

    <div class="clr-col-4"></div>


  </div>


  <div class="clr-row">


    <div class="clr-col-2"></div>

    <div class="clr-col-8">

      <div class="card">
        <div class="card clr-col-5">
          <div class="card-header">
            Ranking 3
          </div>
          <div class="card-block">
            <ol class="list">
              <li>Ullamco Laboris</li>
              <li>Nisi Ut Aliquip</li>
              <li>Consequat</li>
              <li>Excepteur sint occaecat cupidatat non proident</li>
              <li>Enim ad Minim</li>
            </ol>
          </div>
        </div>

        <div class="card clr-col-5">
          <div class="card-header">
            Ranking 4
          </div>
          <div class="card-block">
            <ol class="list">
              <li>Ullamco Laboris</li>
              <li>Nisi Ut Aliquip</li>
              <li>Consequat</li>
              <li>Excepteur sint occaecat cupidatat non proident</li>
              <li>Enim ad Minim</li>
            </ol>
          </div>
        </div>

      </div>
    </div>

    <div class="clr-col-4"></div>


  </div>
</div>